main {
    display: grid;
    color: white;
    font-family: arial;

    
    grid-template-areas: "my-header" "my-nav" "my-section" "my-aside""my-footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
}

header {
    background-color:  cadetblue;
    grid-area: my-header;
    text-align: center;
    vertical-align: middle;
}

header img {
    width: 35%;
    float: right;
}

header h1 {
    margin-top: 7%;
    color: white;
    font-size: x-large;
}

header h2 {
    margin-top: 5%;
    font-size: large;
    color: burlywood;
}

nav {
    background-color: cornflowerblue;
    grid-area: my-nav;
    text-align: center;
}

section {
    background-color: indigo;
    grid-area: my-section;
    column-count: 2;
    padding-top: 2%;
}

aside {
    background-color: darkmagenta;
    grid-area: my-aside;
    text-align: center;
}

footer {
    background-color: antiquewhite;
    grid-area: my-footer;
    text-align: center;
    color: #000;

}

nav a, aside a {
    text-decoration: none;
    color: white;
}

a + a {
    margin-left: 3%;
}

.producto {
    border: 1px solid;
    text-align: center;
    background-color: beige;
    color: black;
    
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.producto p{
    margin-top: 0%;
}

.producto img {
    width: 80%;
}


@media (min-width: 600px) and (max-width: 1000px) {
    main {
        grid-template-areas: "my-header my-header" "my-nav my-nav" "my-aside my-section" "my-footer my-footer";
        grid-template-columns: 30% 70%;
    }

    header img {
        width: 30%;
    }
    

}

@media (min-width: 1001px) {
    main {
        grid-template-areas: "my-header my-header my-header" "my-nav my-section my-aside" "my-footer my-footer my-footer";
        grid-template-columns: 15% 70% 15%;
        grid-template-rows: 200px 340px 80px;
    }
}